<div class="business_index container">
  <h1 class="pt-4">Los resutaldos de tu busqueda</h1>
  <div class="p-4">
    <h2>Businesses</h2>
    <% if @businesses %>
      <% @businesses.each do |business| %>
        <div class="business_index-card container bg-white p-4">
          <div class="col-3">
            <h3>Nombre</h3>
            <%= link_to business.name, business_path(business) %>
          </div>
          <div class="col-9">
            <h3>Fotos</h3>
            <% business.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 100, width: 100, crop: :fill %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="p-4">
    <h2>Products or Services</h2>
    <% if @product_or_services %>
      <% @product_or_services.each do |product_service| %>
        <div class="business_index-card container bg-white p-4">
          <div class="col-3">
            <h3>Nombre</h3>
            <%= link_to product_service.name, business_path(product_service.business) %>
          </div>
          <div class="col-9">
            <h3>Fotos</h3>
            <% product_service.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 100, width: 100, crop: :fill %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="p-4">
    <h2>Categories</h2>
    <% if @categories %>
      <% @categories.each do |category| %>
        <div class="business_index-card container bg-white p-4">
          <div class="col-3">
            <h3>Nombre</h3>
            <%= link_to category.name, category_path(category) %>
          </div>
          <div class="col-9">
            <h3>Fotos</h3>
            <%= cl_image_tag category.photo.key, height: 100, width: 100, crop: :fill %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
