<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <!-- Demo styles -->
  <style>
    body {
      background: #eee;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .showBusinesses {
      width: 100%;
      height: 50%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    @media (max-width: 760px) {
      .swiper-button-next {
        right: 20px;
      }

      .swiper-button-prev {
        left: 20px;
      }
    }
  </style>
</head>
<% if @business.owner == current_user %>
  <%= link_to "Add a product or service", new_business_product_or_service_path(@business) %>
<% end %>
<h1 style="text-align:center"><%= @business.name %></h1>
<div class="showBusinesses swiper">
  <div class="swiper-wrapper">
    <% @business.photos.each do |photo| %>
      <div id="" class="swiper-slide">
        <%= cl_image_tag photo.key, class:"business-image", height: 300, width: 400, crop: :fill %>
      </div>
    <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
<%= @business.description %>
<%= form_with url: add_path, method: :post do |f| %>
  <div class="services">
    <div class="services_experience">
      <% @services.each do |service| %>
        <h2><%= service.name %></h2>
        <div id="carouselExampleControls<%=service.id %>" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% service.photos.each_with_index do |photo, i| %>
              <% if (i == 0) %>
                <div class="carousel-item active">
                  <%= cl_image_tag photo.key %>
                </div>
              <% else %>
                <div class="carousel-item">
                  <%= cl_image_tag photo.key %>
                </div>
              <% end %>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls<%= service.id %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls<%= service.id %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <%= service.description %>
        Category: <%= service.category.name %>
        Price: <%= service.price %>
        <%= f.label service.id, "Quantity:" %>
        <%= f.number_field service.id, min: 0 %>
      <% end %>
    </div>
    <div class="services_menu">
      <div class="menu-drink">
        <% @drinks.each do |drink| %>
          <div class="accordion" id="accordionExample<%=drink.id %>">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne<%=drink.id %>" aria-expanded="true" aria-controls="collapseOne<%=drink.id %>">
                  <%= drink.name %>
                </button>
              </h2>
              <div id="collapseOne<%=drink.id %>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample<%=drink.id %>">
                <div class="accordion-body">
                  <%= drink.description %>
                  <div class="accordion-body-img">
                    <% drink.photos.each do |photo| %>
                      <%= cl_image_tag photo.key %>
                    <% end %>
                  </div>
                  $<%=(drink.price) %>
                  <%= f.label drink.id, "Quantity:" %>
                  <%= f.number_field drink.id, min: 0 %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="menu-food">
        <% @food.each do |food| %>
          <div class="accordion" id="accordionExample<%=food.id%>">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne<%=food.id%>" aria-expanded="true" aria-controls="collapseOne<%=food.id %>">
                  <%= food.name %>
                </button>
              </h2>
              <div id="collapseOne<%=food.id %>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample<%=food.id %>">
                <div class="accordion-body">
                  <%= food.description %>
                  <div class="accordion-body-img">
                    <% food.photos.each do |photo| %>
                      <%= cl_image_tag photo.key %>
                    <% end %>
                  </div>
                  $<%=(food.price) %>
                  <%= f.label food.id, "Quantity:" %>
                  <%= f.number_field food.id, min: 0 %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="business-reservation">
    <h2>Form reservation:</h2>
    <%= f.label :user_name_check, "If the reservation is for someone different than you, please check this" %>
    <%= f.check_box :user_name_check %>
    <%= f.label :user_name, "If the reservation is for someone different than you, please fill here the name" %>
    <%= f.text_field :user_name %>
    <%= f.label :date, "When do you need the reservation?" %>
    <%= f.date_field :date %>
    <%= f.time_field :time %>
    <%= f.label :comments, "If there is something we need to take into account or any other aditional comments, please let us know" %>
    <%= f.text_field :comments %>
    <%= f.label :phone, "Please enter your phone" %>
    <%= f.telephone_field :phone %>
    <%= f.label :number_of_people, "Let us know for how many people is the reservation" %>
    <%= f.number_field :number_of_people, in: 1..50, step: 1 %>
    <%= f.submit "Book in this restaurant" %>
  </div>
<% end %>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
  var showBusinesses = new Swiper('.swiper', {
    slidesPerView: 1,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    on: {
      resize: function () {
        swiper.changeDirection(getDirection());
      },
    },
  });

  function getDirection() {
    var windowWidth = window.innerWidth;
    var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

    return direction;
  }
</script>
