<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <!-- Demo styles -->
  <style>
    body {
      background: #eee;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .showBusinesses {
      width: 100%;
      height: 50%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    @media (max-width: 760px) {
      .swiper-button-next {
        right: 20px;
      }

      .swiper-button-prev {
        left: 20px;
      }
    }
  </style>
</head>
<div class="container_business">
  <% if @business.owner == current_user %>
    <%= link_to "Add a product or service", new_business_product_or_service_path(@business) %>
    <%= link_to "See reservations", my_business_path(@business) %>
  <% end %>
  <h1 style="text-align:center"><%= @business.name %></h1>
  <div class="showBusinesses swiper">
    <div class="swiper-wrapper">
      <% @business.photos.each do |photo| %>
        <div id="" class="swiper-slide">
          <%= cl_image_tag photo.key, class:"img-fluid", height: 600, width: 1920, crop: :fill %>
        </div>
      <% end %>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="description_business">
    <h3>Un poco sobre el sitio</h3>
    <%= @business.description %>
  </div>
  <%= form_with url: add_path, method: :post do |f| %>

    <div>
      <h2> Experiencias del Lugar</h2>
      <div class="container_service">
        <% @services.each do |service| %>
          <div class="container_service-experience">
            <div class="service-experience">
              <div>
                <h3><%= service.name %></h3>
                <div class="mt-1 mb-0 text-muted small">
                  <span class="text-primary"> • </span>
                  <span><%= service.category.name %></span>
                </div>
                <p class="text-truncate mb-4 mb-md-0" style="width: 280px;">
                  <%= service.description %>
                </p>
                <div class="section_price">
                  <h4><strong>$<%=service.price %></strong></h4>
                  <div class="number">
                    <%= f.label service.id, "Quantity:" %>
                    <%= f.number_field service.id, min: 0, value:0, class:"js-select input-number" %>
                    <% if service.business.owner == current_user %>
                      <%= link_to "<i class='fa-solid fa-pen-to-square'></i>".html_safe,  edit_product_or_service_path(service), method: :get %>
                      <%= link_to product_or_service_path(service), class: '', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                        <i class='fa-solid fa-trash'></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div>
                <% service.photos.each_with_index do |photo, i| %>
                  <% if (i == 0) %>
                    <%= cl_image_tag photo.key, class:"img-fluid", height: 200, width: 300, crop: :fill%>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <h2>Bebidas</h2>
      <div class="container_service">
        <% @drinks.each do |drink| %>
          <div class="container_service-experience">
            <div class="service-experience">
              <div>
                <h3><%= drink.name %></h3>
                <div class="mt-1 mb-0 text-muted small">
                  <span class="text-primary"> • </span>
                  <span><%= drink.category.name %></span>
                </div>
                <p class="text-truncate mb-4 mb-md-0" style="width: 280px;">
                  <%= drink.description %>
                </p>
                <div class="section_price">
                  <h4><strong>$<%=drink.price %></strong></h4>
                  <div class="number">
                    <%= f.label drink.id, "Quantity:" %>
                    <%= f.number_field drink.id, min: 0, value:0, class:"js-select input-number" %>
                    <% if drink.business.owner == current_user %>
                      <%= link_to "<i class='fa-solid fa-pen-to-square'></i>".html_safe,   edit_product_or_service_path(drink), method: :get %>
                      <%= link_to product_or_service_path(drink), class: '', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                        <i class='fa-solid fa-trash'></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div>
                <% drink.photos.each_with_index do |photo, i| %>
                  <% if (i == 0) %>
                    <%= cl_image_tag photo.key, class:"img-fluid", height: 200, width: 300, crop: :fill%>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
        <div>
      <h2>Comidas</h2>
      <div class="container_service">
        <% @food.each do |food| %>
          <div class="container_service-experience">
            <div class="service-experience">
              <div>
                <h3><%= food.name %></h3>
                <div class="mt-1 mb-0 text-muted small">
                  <span class="text-primary"> • </span>
                  <span><%= food.category.name %></span>
                </div>
                <p class="text-truncate mb-4 mb-md-0" style="width: 280px;">
                  <%= food.description %>
                </p>
                <div class="section_price">
                  <h4><strong>$<%=food.price %></strong></h4>
                  <div class="number">
                    <%= f.label food.id, "Quantity:" %>
                    <%= f.number_field food.id, min: 0, value:0, class:"js-select input-number" %>
                    <% if food.business.owner == current_user %>
                      <%= link_to "<i class='fa-solid fa-pen-to-square'></i>".html_safe,  edit_product_or_service_path(food), method: :get %>
                      <%= link_to product_or_service_path(food), class: '', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                        <i class='fa-solid fa-trash'></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div>
                <% food.photos.each_with_index do |photo, i| %>
                  <% if (i == 0) %>
                    <%= cl_image_tag photo.key, class:"img-fluid", height: 200, width: 300, crop: :fill%>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="business-reservation">
      <h2>Form reservation:</h2>
      <div class="reservation_username-check">
        <p><%= f.label :user_name_check, "If the reservation is for someone different than you, please check this", :input_html => {'data-content'=> "If the reservation is for someone different than you, please check this"} %></p>
        <%= f.check_box :user_name_check %>
      </div>
      <br>
      <div>
        <%= f.label :user_name, "If the reservation is for someone different than you, please fill here the name" %>
        <%= f.text_field :user_name %>
      </div>
      <br>
      <div>
        <%= f.label :date, "When do you need the reservation?" %>
        <%= f.date_field :date %>
        <%= f.time_field :time %>
      </div>
      <br>
      <div>
        <%= f.label :comments, "If there is something we need to take into account or any other aditional comments, please let us know" %>
        <%= f.text_field :comments %>
      </div>
      <br>
      <div>
        <%= f.label :phone, "Please enter your phone" %>
        <%= f.telephone_field :phone %>
      </div>
      <br>
      <div>
        <%= f.label :number_of_people, "Let us know for how many people is the reservation" %>
        <%= f.number_field :number_of_people, in: 1..50, step: 1 %>
      </div>
      <br>
      <%=  f.submit "Book in this restaurant", class: "btn btn-primary", style:"color:white" %>
    </div>
  <% end %>
</div>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
  var showBusinesses = new Swiper('.swiper', {
    slidesPerView: 1,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    on: {
      resize: function () {
        swiper.changeDirection(getDirection());
      },
    },
  });

  function getDirection() {
    var windowWidth = window.innerWidth;
    var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

    return direction;
  }
</script>
</div>
