<div class="view_reservation">
  <div class="text-center" style="padding: 30px; margin: 28px ">
    <h2>Mis <strong><%= @business.name %></strong> Reservas</h2>
    <% unless @business_purchases.nil? %><br>
      <% @business_purchases.each do |purchase| %><br>
        <div class="reservation_index-card c-services__item">
          <% if purchase.date >= Date.today %><br>
            <div class="card mb-8" style="padding: 32px; margin: 0 10px ">
              <div class="reserva-view row g-2">
              <%= image_tag "meetup.jpg", class: "img-reserva-view" %>
                <div class="col-md-4">
                Realizada por: <strong><%= purchase.user_name %></strong><br>
                Teléfono: <strong><%= purchase.phone %></strong><br>
                Fecha: <strong><%= purchase.date %></strong><br>
                Hora: <strong><%= purchase.time.strftime("%I:%M%p") %></strong><br>
                Número de personas: <strong><%= purchase.number_of_people %></strong><br>
                Comentarios: <strong><%= purchase.comments %></strong><br>
                Items:
                <% purchase.purchase_items.each do |item| %><br>
                  Nombre: <strong><%= item.product_or_service.name %></strong>
                  Cantidad: <strong><%= item.quantity %></strong>
                <% end %>
                <% end %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
