<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <!-- Demo styles -->
  <style>
    body {
      background: #eee;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .showBusinesses {
      width: 100%;
      height: 50%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    @media (max-width: 760px) {
      .swiper-button-next {
        right: 20px;
      }

      .swiper-button-prev {
        left: 20px;
      }
    }
  </style>
</head>
<div class="container_business">
  <% if @business.owner == current_user %>
    <%= link_to "Add a product or service", new_business_product_or_service_path(@business) %>
    <%= link_to "See reservations", my_business_path(@business) %>
  <% end %>
  <h1 style="text-align:center"><%= @business.name %></h1>
  <div class="showBusinesses swiper">
    <div class="swiper-wrapper">
      <% @business.photos.each do |photo| %>
        <div id="" class="swiper-slide">
          <%= cl_image_tag photo.key, class:"img-fluid", height: 600, width: 1920, crop: :fill %>
        </div>
      <% end %>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="description_business">
    <h3>Un poco sobre el sitio</h3>
    <%= @business.description %>
  </div>
  <%= form_with url: add_path, method: :post do |f| %>
    <div class="services col-12">
      <div class="services_experience col-xl-5 col-sm-12">
      <h2> Experiencias del Lugar</h2>
        <section class="experience_card">
          <% @services.each do |service| %>
            <div class="row justify-content-center mb-4">
              <div class="col-md-12 col-xl-12">
                <div class="card shadow-0 border rounded-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                        <div class="bg-image hover-zoom ripple rounded ripple-surface">
                          <% service.photos.each_with_index do |photo, i| %>
                            <% if (i == 0) %>
                              <%= cl_image_tag photo.key, class: "w-100"%>
                            <% end %>
                            <a href="#!">
                              <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                              </div>
                            </a>
                          <% end %>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-xl-6">
                        <h5><%= service.name %></h5>
                        <div class="mt-1 mb-0 text-muted small">
                          <span class="text-primary"> • </span>
                          <span><%= service.category.name %></span>
                        </div>
                        <p class="text-truncate mb-4 mb-md-0">
                          <%= service.description %>
                        </p>
                      </div>
                      <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                        <div class="d-flex flex-row align-items-center mb-1">
                          <h4 class="mb-1 me-1"><%= service.price %></h4>
                        </div>
                        <h6 class="text-success">Disponible</h6>
                        <div class="d-flex flex-column mt-4">
                          <%= f.label service.id, "Quantity:" %>
                          <%= f.number_field service.id, min: 0 %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </section>
      </div>
      <div class="services_menu col-5">
        <div class="menu-drink">
        <h2>Bebidas</h2>
          <% @drinks.each do |drink| %>
            <div class="accordion" id="accordionExample<%=drink.id %>">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne<%=drink.id%>  " aria-expanded="true" aria-controls="collapseOne<%=drink.id %>">
                    <%= drink.name %>
                  </button>
                </h2>
                <div id="collapseOne<%=drink.id%>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample<%=drink.id%>">
                  <div class="accordion-body">
                    <%= drink.description %>
                    <div class="accordion-body-img">
                    <% drink.photos.each do |photo| %>
                      <%= cl_image_tag photo.key %>
                    <% end %>
                    $<%=(drink.price) %>
                  <%= f.label drink.id, "Quantity:" %>
                  <%= f.number_field drink.id, min: 0 %>
                  <ul>
                    <% if @user == current_user %>
                      <%= button_to "<i class='fa-solid fa-pen-to-square'></i>".html_safe, business_product_or_services_path(@product_or_services), method: :get %>
                      <%= button_to "<i class='fa-solid fa-trash'></i>".html_safe, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
                    <% end %>
                  </ul>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
      <div class="menu-food">
        <h2>Comidas</h2>
        <% @food.each do |food| %>
          <div class="accordion" id="accordionExample<%=food.id %>">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne<%=food.id%>  " aria-expanded="true" aria-controls="collapseOne<%=food.id %>">
                    <%= food.name %>
                  </button>
                </h2>
                <div id="collapseOne<%=food.id%>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample<%=food.id%>">
                  <div class="accordion-body">
                    <%= food.description %>
                    <div class="accordion-body-img">
                    <% food.photos.each do |photo| %>
                      <%= cl_image_tag photo.key %>
                    <% end %>
                    $<%=(food.price) %>
                  <%= f.label food.id, "Quantity:" %>
                  <%= f.number_field food.id, min: 0 %>
                  </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="business-reservation">
    <h2>Form reservation:</h2>
    <div class="reservation_username-check">
      <%= f.label :user_name_check, "If the reservation is for someone different than you, please check this", :input_html => {'data-content'=> "If the reservation is for someone different than you, please check this"} %>
      <%= f.check_box :user_name_check %>
    </div>
    <br>
    <div>
      <%= f.label :user_name, "If the reservation is for someone different than you, please fill here the name" %>
      <%= f.text_field :user_name %>
    </div>

    <br>
    <div>
      <%= f.label :date, "When do you need the reservation?" %>
      <%= f.date_field :date %>
      <%= f.time_field :time %>
    </div>
    <br>
    <div>
      <%= f.label :comments, "If there is something we need to take into account or any other aditional comments, please let us know" %>
      <%= f.text_field :comments %>
    </div>

    <br>

    <div>
      <%= f.label :phone, "Please enter your phone" %>
      <%= f.telephone_field :phone %>
    </div>

    <br>
    <div>
      <%= f.label :number_of_people, "Let us know for how many people is the reservation" %>
      <%= f.number_field :number_of_people, in: 1..50, step: 1 %>
    </div>

    <br>
    <%=  f.submit "Book in this restaurant", class: "btn btn-primary", style:"color:white" %>

  </div>
<% end %>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
  var showBusinesses = new Swiper('.swiper', {
    slidesPerView: 1,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    on: {
      resize: function () {
        swiper.changeDirection(getDirection());
      },
    },
  });

  function getDirection() {
    var windowWidth = window.innerWidth;
    var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

    return direction;
  }
</script>
</div>
