<p>Hola, <%= @user.first_name + " " + @user.last_name %></p>
<h2>My businesses</h2>

<% unless @businesses.nil? %>
  <% @businesses.each do |business| %>
   <div><%= business.name%></div>
   <div><%= link_to "Reservations", my_business_path(business) %></div>
   <div><%= business.address %></div>
    <div><%= business.description %></div>
    <% business.photos.each do |photo| %>
        <div id="" class="swiper-slide">
          <%= cl_image_tag photo.key, class:"img-fluid", height: 600, width: 1920, crop: :fill %>
        </div>
      <% end %>
  <% end %>
<% end %>

<h2>My purchases</h2>

<% unless @purchases.nil? %>
  <% @purchases.each do |purchase| %>
    <div><%= purchase.date%></div>
    <div><%= purchase.time.strftime("%I:%M%p") %></div>
    <div><%= purchase.total_price%></div>
  <% end %>
<% end %>

nombre donde hice la compra
fehca hora y precio total
show de la compra linkear al show de purchases
