<div class="mb-7 col-xl-12 mx-4" style="padding: auto; text-align: center">
    <div>
      <div class="reservation_index-card">
        <div>
          <%= image_tag "reserva.jpg", class: "img-reserva" %>
        </div>
        <div>
          <p>Congrats, you made a reservation at <strong><%= @business.name %></strong></p>
          <h3>Reservation info:</h3>
          <br>
          <div class="reservation-info">
            For: <strong><%= @purchase.user_name %></strong>
            Phone: <strong><%= @purchase.phone %></strong>
            Date: <strong><%= @purchase.date %> at <%= @purchase.time.strftime("%I:%M%p") %></strong>
            Total purchase price: <strong><%= @total_price %></strong>
            <% if @purchase.comments %>
              Comments: <strong><%= @purchase.comments %></strong>
            <% end %><br>
          </div>
        </div>
      </div>
      <div class="reservation_index-card">
        <h3>Additional experiences</h3>
        <% if @services %>
          <% @services.each do |service| %><br>
            <div>
              <strong><%= service.product_or_service.name %></strong>
            </div>
            <%= service.product_or_service.description %><br>
            Category: <%= service.product_or_service.category.name %><br>
            Price per single item: <strong>$<%= service.product_or_service.price %></strong>
            Quantity: <strong><%= service.quantity %></strong>
            Total price: <strong>$ <%= service.product_or_service.price * service.quantity %></strong>
            <div class="img-service">
              <% service.product_or_service.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 100, width: 200, crop: :fill, class:"img-service-photo"%><br>
              <% end %>
            </div>
          <% end %>
        <% end %><br>
        <div><br>
        <strong><h3>Food & Drink</h3></strong>
          <% if @food %>
            <% @food.each do |food| %><br>
              <div>
                <strong><%= food.product_or_service.name %></strong><br>
              </div>
              <%= food.product_or_service.description %><br>
              Category: <%= food.product_or_service.category.name %><br>
              Price per single item: <strong>$<%= food.product_or_service.price %></strong><br>
              Quantity: <strong><%= food.quantity %></strong>
              Total price: <strong>$ <%= food.product_or_service.price * food.quantity %></strong><br>
              <div class="img-service">
                <% food.product_or_service.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, height: 100, width: 200, crop: :fill, class:"img-service-photo" %><br>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div><br>
        <div>
          <% if @drinks %>
            <% @drinks.each do |drink| %><br>
            <div>
              <strong><%= drink.product_or_service.name %></strong><br>
            </div>
            <%= drink.product_or_service.description %><br>
            Category: <%= drink.product_or_service.category.name %><br>
            Price per single item: <strong>$<%= drink.product_or_service.price %></strong><br>
            Quantity: <strong><%= drink.quantity %></strong>
            Total price: <strong>$ <%= drink.product_or_service.price * drink.quantity %></strong><br>
            <div class="img-service">
              <% drink.product_or_service.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 100, width: 200, crop: :fill, class:"img-service-photo" %><br>
              <% end %>
            </div>
          <% end %>
          <% end %>
        </div><br>
      </div><br>
    </div>
</div>
