  <div class="container text-center my-3 col-6">
    <h2 class="font-weight-light">Bares</h2>
    <div class="row mx-auto my-auto justify-content-center" style="border-radius: 20px;" >
      <div id="barCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
         <% active = true %>
          <% @bars.each do |bar| %>
            <div class="carousel-item <%= "active" if active == true %> rounded">
              <div class="col-md-6">
                <div class="card m-2">
                  <div class="card-img">
                    <% bar.photos.each_with_index do |photo, i| %>
                      <% if (i == 0) %>
                        <%= cl_image_tag photo.key, class: "img-fluid", style: "border-radius: 20px;", height: 300, width: 400, crop: :fill %>
                      <% end %>
                    <% end %>
                  </div>
                  <div>
                    <strong>
                      <%= bar.name %>
                    </strong>
                  </div>
                  <button type="button" class="btn btn-primary m-2"><%= link_to "Conocer Más", business_path(bar) %></button>
                </div>
              </div>
            </div>
            <% active = false %>
          <% end %>
        </div>
        <a class="carousel-control-prev bg-transparent w-aut" href="#barCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent w-aut" href="#barCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
  <!-- Slide Restaurants-->
  <div class="container text-center my-3 col-6">
    <h2 class="font-weight-light">Restaurantes</h2>
    <div class="row mx-auto my-auto justify-content-center" style="border-radius: 20px;" >
      <div id="restaurantCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <% active = true %>
          <% @restaurants.each do |restaurant| %>
            <div class="carousel-item <%= "active" if active == true %> rounded">
              <div class="col-md-6">
                <div class="card m-2">
                  <div class="card-img">
                    <% restaurant.photos.each_with_index do |photo, i| %>
                      <% if (i == 0) %>
                        <%= cl_image_tag photo.key, class: "img-fluid", style: "border-radius: 20px;", height: 300, width: 400, crop: :fill %>
                      <% end %>
                    <% end %>
                  </div>
                  <div>
                    <strong>
                      <%= restaurant.name %>
                    </strong>
                  </div>
                  <button type="button" class="btn btn-primary m-2"><%= link_to "Conocer Más", business_path(restaurant) %></button>
                </div>
              </div>
            </div>
            <% active = false %>
          <% end %>
        </div>
        <a class="carousel-control-prev bg-transparent w-aut" href="#restaurantCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent w-aut" href="#restaurantCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<script>
  let items = document.querySelectorAll('.carousel .carousel-item')

  items.forEach((el) => {
      const minPerSlide = 4
      let next = el.nextElementSibling
      for (var i=1; i<minPerSlide; i++) {
          if (!next) {
              // wrap carousel by using first child
          	next = items[0]
        	}
          let cloneChild = next.cloneNode(true)
          el.appendChild(cloneChild.children[0])
          next = next.nextElementSibling
      }
  })
</script>
<%# Nuevas cards %>
<section class="container-swiper">
  <div class="row" style="justify-content: space-between">
    <div class="col-5">
      <div class="swiper newSwiper1">
        <h2>Bares</h2>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <% @bars.each do |bar| %>
            <!-- Slides -->
            <div class="swiper-slide business_cards-slide">
              <%= link_to business_path(bar) do %>
                <div class="business_cards-img">
                  <%= cl_image_tag bar.photos.first.key,
            class:"img-fluid", height: 300, width: 400, crop: :fill %>
                </div>
                <div class="business_cards-info">
                  <h3>
                    <strong>
                      <%= bar.name %>
                    </strong>
                  </h3>
                  <div class="business_cards-description">
                    <p style=""><%= bar.description %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <!-- If we need pagination -->
        <%# <div class="swiper-pagination"></div> %>
        <!-- If we need navigation buttons -->
      </div>
      <div class="swiper-button-prev-newSwiper1"></div>
      <div class="swiper-button-next-newSwiper1"></div>
    </div>
    <div class="col-5">
      <div class="swiper newSwiper2">
        <h2>Restaurantes</h2>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <% @restaurants.each do |restaurant| %>
            <!-- Slides -->
            <div class="swiper-slide business_cards-slide">
              <%= link_to business_path(restaurant) do %>
                <div class="business_cards-img">
                  <%= cl_image_tag restaurant.photos.first.key,
            class:"img-fluid", height: 300, width: 400, crop: :fill %>
                </div>
                <div class="business_cards-info">
                  <h3>
                    <strong>
                      <%= restaurant.name %>
                    </strong>
                  </h3>
                  <div class="business_cards-description">
                    <p style=""><%= restaurant.description %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <!-- If we need pagination -->
        <%# <div class="swiper-pagination"></div> %>
        <!-- If we need navigation buttons -->
      </div>
      <div class="swiper-button-prev-newSwiper2"></div>
      <div class="swiper-button-next-newSwiper2"></div>
    </div>
  </div>
</section>
<!-- Slider main container -->
<script type="module">
  const newSwiper1 = new Swiper('.newSwiper1', {
    // Optional parameters
    slidesPerView: 1,
    spaceBetween: 30,
    direction: 'horizontal',
    loop: true,

    // Navigation arrows
    navigation: {
      nextEl: '.swiper1-button-prev',
      prevEl: '.swiper1-button-prev',
    },

    breakpoints: {
          769: {
            slidesPerView: 2,
            slidesPerGroup: 2
          }
        },
  autoplay: {
    delay: 2000,
  },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });

    const newSwiper2 = new Swiper('.newSwiper2', {
    // Optional parameters
    slidesPerView: 1,
    spaceBetween: 30,
    direction: 'horizontal',
    loop: true,

    // Navigation arrows
    navigation: {
      nextEl: '.swiper2-button-prev',
      prevEl: '.swiper2-button-prev',
    },

    breakpoints: {
          769: {
            slidesPerView: 2,
            slidesPerGroup: 2
          }
        },
  autoplay: {
    delay: 2000,
  },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });
</script>
