  <div class="container text-center my-3 col-6">
    <h2 class="font-weight-light">Bares</h2>
    <div class="row mx-auto my-auto justify-content-center" style="border-radius: 20px;" >
      <div id="barCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
         <% active = true %>
          <% @bars.each do |bar| %>
            <div class="carousel-item <%= "active" if active == true %> rounded">
              <div class="col-md-6">
                <div class="card m-2">
                  <div class="card-img">
                    <% bar.photos.each_with_index do |photo, i| %>
                      <% if (i == 0) %>
                        <%= cl_image_tag photo.key, class: "img-fluid", style: "border-radius: 20px;", height: 300, width: 400, crop: :fill %>
                      <% end %>
                    <% end %>
                  </div>
                  <div>
                    <strong>
                      <%= bar.name %>
                    </strong>
                  </div>
                  <button type="button" class="btn btn-primary m-2"><%= link_to "Conocer Más", business_path(bar) %></button>
                </div>
              </div>
            </div>
            <% active = false %>
          <% end %>
        </div>
        <a class="carousel-control-prev bg-transparent w-aut" href="#barCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent w-aut" href="#barCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
  <!-- Slide Restaurants-->
  <div class="container text-center my-3 col-6">
    <h2 class="font-weight-light">Restaurantes</h2>
    <div class="row mx-auto my-auto justify-content-center" style="border-radius: 20px;" >
      <div id="restaurantCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <% active = true %>
          <% @restaurants.each do |restaurant| %>
            <div class="carousel-item <%= "active" if active == true %> rounded">
              <div class="col-md-6">
                <div class="card m-2">
                  <div class="card-img">
                    <% restaurant.photos.each_with_index do |photo, i| %>
                      <% if (i == 0) %>
                        <%= cl_image_tag photo.key, class: "img-fluid", style: "border-radius: 20px;", height: 300, width: 400, crop: :fill %>
                      <% end %>
                    <% end %>
                  </div>
                  <div>
                    <strong>
                      <%= restaurant.name %>
                    </strong>
                  </div>
                  <button type="button" class="btn btn-primary m-2"><%= link_to "Conocer Más", business_path(restaurant) %></button>
                </div>
              </div>
            </div>
            <% active = false %>
          <% end %>
        </div>
        <a class="carousel-control-prev bg-transparent w-aut" href="#restaurantCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent w-aut" href="#restaurantCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<script>
  let items = document.querySelectorAll('.carousel .carousel-item')

  items.forEach((el) => {
      const minPerSlide = 4
      let next = el.nextElementSibling
      for (var i=1; i<minPerSlide; i++) {
          if (!next) {
              // wrap carousel by using first child
          	next = items[0]
        	}
          let cloneChild = next.cloneNode(true)
          el.appendChild(cloneChild.children[0])
          next = next.nextElementSibling
      }
  })
</script>
