<%# Nuevas cards %>
<section class="container-swiper">
  <div class="row" style="justify-content: space-between">
    <div class="col-5">
      <div class="swiper newSwiper1">
        <h2>Bares</h2>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <% @bars.each do |bar| %>
            <!-- Slides -->
            <div class="swiper-slide business_cards-slide">
              <%= link_to business_path(bar) do %>
                <div class="business_cards-img">
                  <%= cl_image_tag bar.photos.first.key,
            class:"img-fluid", height: 300, width: 400, crop: :fill %>
                </div>
                <div class="business_cards-info">
                  <h3>
                    <strong>
                      <%= bar.name %>
                    </strong>
                  </h3>
                  <div class="business_cards-description">
                    <p style=""><%= bar.description %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <!-- If we need pagination -->
        <%# <div class="swiper-pagination"></div> %>
        <!-- If we need navigation buttons -->
      </div>
      <div class="swiper-button-prev-newSwiper1"></div>
      <div class="swiper-button-next-newSwiper1"></div>
    </div>
    <div class="col-5">
      <div class="swiper newSwiper2">
        <h2>Restaurantes</h2>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <% @restaurants.each do |restaurant| %>
            <!-- Slides -->
            <div class="swiper-slide business_cards-slide">
              <%= link_to business_path(restaurant) do %>
                <div class="business_cards-img">
                  <%= cl_image_tag restaurant.photos.first.key,
            class:"img-fluid", height: 300, width: 400, crop: :fill %>
                </div>
                <div class="business_cards-info">
                  <h3>
                    <strong>
                      <%= restaurant.name %>
                    </strong>
                  </h3>
                  <div class="business_cards-description">
                    <p style=""><%= restaurant.description %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <!-- If we need pagination -->
        <%# <div class="swiper-pagination"></div> %>
        <!-- If we need navigation buttons -->
      </div>
      <div class="swiper-button-prev-newSwiper2"></div>
      <div class="swiper-button-next-newSwiper2"></div>
    </div>
  </div>
</section>
<!-- Slider main container -->
<script type="module">
  const newSwiper1 = new Swiper('.newSwiper1', {
    // Optional parameters
    slidesPerView: 1,
    spaceBetween: 30,
    direction: 'horizontal',
    loop: true,

    // Navigation arrows
    navigation: {
      nextEl: '.swiper1-button-prev',
      prevEl: '.swiper1-button-prev',
    },

    breakpoints: {
          769: {
            slidesPerView: 2,
            slidesPerGroup: 2
          }
        },
  autoplay: {
    delay: 5000,
  },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });

    const newSwiper2 = new Swiper('.newSwiper2', {
    // Optional parameters
    slidesPerView: 1,
    spaceBetween: 30,
    direction: 'horizontal',
    loop: true,

    // Navigation arrows
    navigation: {
      nextEl: '.swiper2-button-prev',
      prevEl: '.swiper2-button-prev',
    },

    breakpoints: {
          769: {
            slidesPerView: 2,
            slidesPerGroup: 2
          }
        },
  autoplay: {
    delay: 5000,
  },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });
</script>
