<div class="vh-75 mb-5">
  <%= render "shared/slider" %>
</div>
<%= render "shared/cardhome" %>
<%= render "shared/new_slidecards" %>
<%= render "shared/business_cards" %>
<%= render "shared/footer" %>
