<!DOCTYPE html>
<html>
  <head>
    <title>Koira</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
<<<<<<< HEAD
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
=======
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= render "shared/slider" %>
>>>>>>> 7c42e8ada39fbb9efe95c8d3306c98f3109a3f3e


    <%= yield %>
  </body>
</html>
